#header{
background: linear-gradient(rgba(0, 0, 0, 0.514),#fffdf15d), url(../img/cinema.jpg)center/cover no-repeat fixed;
}

html {
    scroll-behavior: smooth;
}

.height-100 {
    height: 100vh;
    
}

.navigationbar {
    background: #DDFFF7 !important;
    border-bottom: 3px solid #000;
    height: 5vh;
    min-height: 3rem;
}

.registerbtn {
    font-family: 'Bungee Inline', cursive !important;
    width: 20vw;
    min-width: 9rem;
}

body {
    font-family: 'Bungee Inline', cursive;
    overflow-x:hidden;
    font-weight: 700;
}

h1 {
    color: #DDFFF7;
    text-shadow: 4px 4px 8px #000000;
    position: relative;
}

h5 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.8rem;
}

#about {
    background-color: #93E1D8;
}

#films {
    background-color: #ebe9e9f5;
}

#footer a {
    color: #93E1D8;
}

.sectionhead {
    color: #0892A5;
}

i {
    color: #93E1D8;
}

#form {
    background-color: #AA4465;
}

h4 {
    margin: 2rem 0;
    Font-Family: 'Playfair Display', Serif;
}

.display-2 {
    letter-spacing: 5px;
}

.blockquote-footer {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    text-align: left;
}

.date {
    color: rgb(197, 59, 103);
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Yellowtail', cursive;
}

.title-underline{
    width: 200px;
    height: 6px;
    margin: 0.5em auto;
    background-color: #FFA69E;
}

#about .card-title {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    Font-Family: 'PT Sans', Sans-Serif;
}

.card-text {
    Font-Family: 'Playfair Display', Serif;
}

.card-footer {
    Font-Family: 'PT Sans', Sans-Serif;
    font-size: 1.5rem;
}

.btn {
    Font-Family: 'Playfair Display', Serif;
}

.btn-block {
    width: 100% !important;
}

form {
    width: 60%;
    font-family: 'Playfair Display', sans-serif;
}

.form-check-inline, .ptsans {
    font-size: 1.1rem;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

/* animations */

#header .leftanimation {
    visibility: hidden;
    position: relative;
    animation: heading1;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-timing-function: ease-out;
}

@keyframes heading1 {
    0% {left: -500px; opacity: 0; visibility: hidden;}
    100% {left: 0px; opacity: 1; visibility: visible}
}

#header .rightanimation {
    visibility: hidden;
    animation: heading2;
    position: relative;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-timing-function: ease-out;
}

@keyframes heading2 {
    0% {right: -500px; opacity: 0; visibility: hidden;}
    100% {right: 0px; opacity: 1; visibility: visible}
}

#header p {

    visibility: hidden;
    animation: date;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}

@keyframes date {
    0% {opacity: 0; visibility: hidden;}
    100% {opacity: 1; visibility: visible}
}

/* media query */

@media screen and (max-width: 992px) {
    .titles {
        font-size: 300%;
    }

    .date {
        font-size: 3rem;
    }


}

@media screen and (max-width: 767px) {
    .navigationbar {
        height: auto;
    }
}